/**
 * MarkAsJunk2 plugin styles
 */

#messagetoolbar a.markasjunk2,
#messagetoolbar a.markasjunk2Sel,
#messagetoolbar a.markasnotjunk2,
#messagetoolbar a.markasnotjunk2Sel
{
  text-indent: -5000px;
  background-image: url(mail_toolbar.png);
}

#messagetoolbar a.markasjunk2
{
  background-position: -32px 0;
}

#messagetoolbar a.markasjunk2Sel
{
  background-position: -32px -32px;
}

#messagetoolbar a.markasnotjunk2
{
  background-position: 0 0;
}

#messagetoolbar a.markasnotjunk2Sel
{
  background-position: 0 -32px;
}

#rcmContextMenu .markasjunk2 a,
#rcmContextMenu .markasnotjunk2 a,
#markmessagemenu a.markasjunk2,
#markmessagemenu a.markasnotjunk2
{
  background-image: url(messageactions.png);
}

#rcmContextMenu .markasjunk2 a,
#markmessagemenu a.markasjunk2
{
  background-position: 7px -17px;
}

#rcmContextMenu .markasnotjunk2 a,
#markmessagemenu a.markasnotjunk2
{
  background-position: 7px 0;
}