/**
 * MarkAsJunk2 plugin styles (IE6 Hacks)
 */

#messagetoolbar a.markasjunk2,
#messagetoolbar a.markasjunk2Sel,
#messagetoolbar a.markasnotjunk2,
#messagetoolbar a.markasnotjunk2Sel
{
  background-image: url(mail_toolbar.gif);
}

#rcmContextMenu .markasjunk2 a,
#rcmContextMenu .markasnotjunk2 a,
#markmessagemenu a.markasjunk2,
#markmessagemenu a.markasnotjunk2
{
  background-image: url(messageactions.gif);
}