/**
 * MarkAsJunk2 plugin styles
 */

#messagetoolbar a.markasjunk2,
#messagetoolbar a.markasjunk2Sel,
#messagetoolbar a.markasnotjunk2,
#messagetoolbar a.markasnotjunk2Sel
{
  background-image: url(images/mail_toolbar.png);
}

#messagetoolbar a.markasjunk2,
#messagetoolbar a.markasjunk2Sel
{
  background-position: center -14px;
}

#messagetoolbar a.markasnotjunk2,
#messagetoolbar a.markasnotjunk2Sel
{
  background-position: center -61px;
}

ul.toolbarmenu li a.markasjunk2 span.icon,
ul.toolbarmenu li a.markasnotjunk2 span.icon
{
  background-image: url(images/messageactions.png) !important;
}

ul.toolbarmenu li a.markasjunk2 span.icon
{
  background-position: 1px -17px !important;
}

ul.toolbarmenu li a.markasnotjunk2 span.icon
{
  background-position: 1px 5px !important;
}